body {
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    max-width: 700px;
    margin: 40px auto;
    padding: 50px;
}
h2 {
    color: #035f9c;
    font-size: 1.3em;
}
hr {
    height: 2px;
    background-color: grey;
    width: 90%;
}
h1, h2, p {
    text-align: center;
}
img {
    width: 20%;
    display: block;
    margin: 50px auto;
}
#statement {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}
.list {
    list-style-type: none;
}
